<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ChanHair -Best Way To Manage Salon-</title>
    <link rel=stylesheet href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+KR:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="~/img/favicon.ico">
    <script src="~/js/jquery-3.3.1.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/scripts.js"></script>
  </head>
  <body>
    @Html.Partial("_NavBar")
    <div class="container-fluid">
      @Html.Partial("_Carousel")
      @Html.Partial("_Logo")
      @RenderBody()
    </div>
    @Html.Partial("_Footer")
  </body>
</html>
