@{
  Layout = "_Layout";
}

<h1>test</h1>
<h1>@Model["selectedEmployee"].name Shifts</h1>

@foreach(var shift in @Model["totalHours"])
{

    <li>@shift.hours, @shift.clock_out, @shift.clock_in</li>

}
