@{
  Layout = "_Layout";
}

<h1>Name: @Model["selectedEmployee"].name</h1>
<h3>Departments: </h3>

  @foreach(var department in @Model["employeeDepartments"])
  {
    <h3><a href="/departments/@department.id">@department.name</a></h3>
  }

<form action="/employees/@Model["selectedEmployee"].id" method="post">
  <div class="form-group">
    <label for="departmentId">Add Department: </label>
    <select id="departmentId" name="departmentId">
    @foreach(var department in @Model["allDepartments"])
    {
      <option class="form-control" value="@department.id">@department.name</option>
    }
    </select>
  </div>
  <button type="submit" class="btn btn-info">Add</button>
</form>

<form action = '/employees/@Model["selectedEmployee"].id/clockIn' method="post">
<button type = 'submit' class = 'btn btn-success'> Clock In</button>
</form>


<form action = '/employees/@Model["selectedEmployee"].id/clockOut' method="post">
<button type = 'submit' class = 'btn btn-success'> Clock Out</button>
</form>


<h2> Clock in time : @Model["newHour"].clock_in<h2>
<h2> Clock Out time : @Model["newHour"].clock_out<h2>
<h2> Total hours : @Model["newHour"].hours<h2>




<a href = '/employees/@Model["selectedEmployee"].id/update'><button class='btn btn-info'>Edit Employee</button></a>
<a href = '/employees'><button class='btn btn-info'>Back to Employees</button></a>
